<div class="final-scores-container">
  <form action="/final_scores" method="post">
    <table class="final-scores-table">
      <colgroup>
        <col style="width:14%"/> <!-- date -->
        <col style="width:26%"/> <!-- game name -->
        <col style="width:26%"/> <!-- visitor -->
        <col style="width:4%"/>  <!-- visitor score -->
        <col style="width:26%"/> <!-- home -->
        <col style="width:4%"/>  <!-- home score -->
      </colgroup>
      <tbody>
      <% games.each do |game| %>
        <tr data-game-id="<%= game.id %>">
          <td class="date"><%= game.game_time %></td>
          <td class="game-name"><%= game.bowl.name %></td>
          <td class="team-name"><%= game.visitor.name %></td>
          <td class="points-cell">
            <input type="text" class="points" name="score[<%= [game.id, game.visitor.id].join('_') %>]" value="<%= game.visitor_final_score %>"/>
          </td>
          <td class="team-name"><%= game.home.name %></td>
          <td class="points-cell">
            <input type="text" class="points" name="score[<%= [game.id, game.home.id].join('_') %>]" value="<%= game.home_final_score %>"/>
          </td>
        </tr>
      <% end %>
      <tr>
        <td>
          <input type="submit" name="Save" value="Save"/>
        </td>
      </tr>
      </tbody>
    </table>
  </form>
</div>
