<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Picks  22/23 SEASON</title>
<meta name="generator" content="Bluefish 2.2.11">
<meta name="author" content="Fred de St. Croix">
<meta name="date" content="2020-12-07T04:14:15-0800">
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
<meta http-equiv="content-style-type" content="text/css">

<link href="foot.css" rel="stylesheet" type="text/css">
</head>


<body>

<div id="eform">
<div style="background-color: white; padding: 00px 20px 20px 20px; border:solid;">


<p style="float: right"><span style="color: red;">INSERT GOOD<br></span></p>
<span id="tzcd"></span>
<h4><a href="/add_participant.html">Return to Family Fun Registration</a> | <a href="https://broadjumper.com/picks.html?a=blank">Create Blank Sheet for Print</a></h4>
<span style="font-size: 38px; background-color: #000000; color: yellow;"><b>Ribwich - PICKS:  22/23 SEASON</b></span>
</div>		
	<form action="picks.html" method="post">	
	<table style="margin-right: 20px;" cellspacing="0" cellpadding="2" border="1">

	<tbody>

  <% games.each_slice(8).each_with_index do |slice, slice_index| %>
  
  <tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;"><b>Bowl:</b></p></td>	
    <% slice.each_slice(2) do |game1, game2| %>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"><b><%= game1.name %></b></p></td>
		<td colspan="2"><p class="tbcen"><b><%= game2.name %></b></p></td>
    <% end %>
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;">Location:</p></td>
    <% slice.each_slice(2) do |game1, game2| %>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"><%= "#{game1.bowl.city}, #{game1.bowl.state}" %></p></td>
		<td colspan="2"><p class="tbcen"><%= "#{game2.bowl.city}, #{game2.bowl.state}" %></p></td>
		<% end %>
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;">Date:<br>Time:</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">Dec. 16<br><span style="white-space: nowrap;">11:30 am</span></p></td>
		<td colspan="2"><p class="tbcen">Dec. 16<br><span style="white-space: nowrap;">03:00 pm</span></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">Dec. 17<br><span style="white-space: nowrap;">11:00 am</span></p></td>
		<td colspan="2"><p class="tbcen">Dec. 17<br><span style="white-space: nowrap;">12:00 pm</span></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">Dec. 17<br><span style="white-space: nowrap;">02:30 pm</span></p></td>
		<td colspan="2"><p class="tbcen">Dec. 17<br><span style="white-space: nowrap;">03:30 pm</span></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">Dec. 17<br><span style="white-space: nowrap;">05:45 pm</span></p></td>
		<td colspan="2"><p class="tbcen">Dec. 17<br><span style="white-space: nowrap;">07:30 pm</span></p></td>
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;">Channel:</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">ESPN</p></td>
		<td colspan="2"><p class="tbcen">ESPN</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">ESPN</p></td>
		<td colspan="2"><p class="tbcen">ABC</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"></p></td>
		<td colspan="2"><p class="tbcen">ABC</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">ESPN</p></td>
		<td colspan="2"><p class="tbcen">ABC</p></td>
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;">Teams:</p></td>
    <% slice.each_slice(2) do |game1, game2| %>
		<td style="background-color: #d6ecd2"><p class="tbcen"><%= game1.visitor.name %></p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen"><%= game1.home.name %></p></td>
		<td><p class="tbcen"><%= game2.visitor.name %></p></td>
		<td><p class="tbcen"><%= game2.home.name %></p></td>
    <% end %>
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;">Record:</p></td>
		<td style="background-color: #d6ecd2;"><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(11-2)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(11-2)</p></td>
		<td style="background-color: #d6ecd2;"><p class="tbcen" style="white-space: nowrap;">(9-3)</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(12-0)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(9-2)</p></td>
		<td style="background-color: #d6ecd2;"><p class="tbcen" style="white-space: nowrap;">(9-3)</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(9-4)</p></td>
		<td style="background-color: #d6ecd2;"><p class="tbcen" style="white-space: nowrap;">(5-7)</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
	</tr>
		
		<tr>
			
			<td colspan="2"><p class="tbcen">Winner:</p></td>
      <% slice.each_with_index do |_, i| %>
      <% if (i % 2).zero? %>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" name='<%= "win[#{slice_index * 8 + i}]" %>' value="1"></p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" checked="checked" name='<%= "win[#{slice_index * 8 + i}]" %>' value="2"></p></td>
      <% else %>
			<td><p class="tbcen"> <input type="radio" name='<%= "win[#{slice_index * 8 + i}]" %>' value="1"></p></td>
			<td><p class="tbcen"> <input type="radio" checked="checked" name='<%= "win[#{slice_index * 8 + i}]" %>' value="2"></p></td>
      <% end %>
      <% end %>
		</tr>

		<tr>
			<td colspan="2">Confidence:</td>
      <% slice.each_with_index do |_, i| %>
      <% if (i % 2).zero? %>
			<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"> <input type="text" name='<%= "conf[#{slice_index * 8 + i}]" %>' value='<%= slice_index * 8 + i + 1 %>' size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
      <% else %>
			<td colspan="2"><p class="tbcen"> <input type="text" name='<%= "conf[#{slice_index * 8 + i}]" %>' value='<%= slice_index * 8 + i + 1 %>' size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
			<% end %>
      <% end %>
		</tr>
	<tr>
		<td colspan="18"></td>	
	</tr>

  <% end %>


	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;"><b>Bowl:</b></p></td>	
	
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"><b>Frisco Bowl</b></p></td>
		<td colspan="2"><p class="tbcen"><b>Myrtle Beach Bowl</b></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"><b>Idaho Potato Bowl</b></p></td>
		<td colspan="2"><p class="tbcen"><b>Boca Raton Bowl</b></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"><b>New Orleans Bowl</b></p></td>
		<td colspan="2"><p class="tbcen"><b>Armed Forces Bowl</b></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"><b>Independence Bowl</b></p></td>
		<td colspan="2"><p class="tbcen"><b>Gasparilla Bowl</b></p></td>
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;">Location:</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"></p></td>
		<td colspan="2"><p class="tbcen"></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"></p></td>
		<td colspan="2"><p class="tbcen"></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"></p></td>
		<td colspan="2"><p class="tbcen"></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"></p></td>
		<td colspan="2"><p class="tbcen"></p></td>
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;">Date:<br>Time:</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">Dec. 17<br><span style="white-space: nowrap;">09:15 pm</span></p></td>
		<td colspan="2"><p class="tbcen">Dec. 19<br><span style="white-space: nowrap;">02:30 pm</span></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">Dec. 20<br><span style="white-space: nowrap;">03:30 pm</span></p></td>
		<td colspan="2"><p class="tbcen">Dec. 20<br><span style="white-space: nowrap;">07:30 pm</span></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">Dec. 21<br><span style="white-space: nowrap;">09:00 pm</span></p></td>
		<td colspan="2"><p class="tbcen">Dec. 22<br><span style="white-space: nowrap;">07:30 pm</span></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">Dec. 23<br><span style="white-space: nowrap;">03:00 pm</span></p></td>
		<td colspan="2"><p class="tbcen">Dec. 23<br><span style="white-space: nowrap;">06:30 pm</span></p></td>
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;">Channel:</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">ESPN</p></td>
		<td colspan="2"><p class="tbcen">ESPN</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">ESPN</p></td>
		<td colspan="2"><p class="tbcen">ESPN</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">ESPN</p></td>
		<td colspan="2"><p class="tbcen">ESPN</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">ESPN</p></td>
		<td colspan="2"><p class="tbcen"></p></td>
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;">Teams:</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">Boise State</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">North Texas</p></td>
		<td><p class="tbcen">Marshall</p></td>
		<td><p class="tbcen">UConn</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">Eastern Michigan</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">San Jose State</p></td>
		<td><p class="tbcen">Liberty</p></td>
		<td><p class="tbcen">Toledo</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">South Alabama</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">Western Kentucky</p></td>
		<td><p class="tbcen">Baylor</p></td>
		<td><p class="tbcen">Air Force</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">Houston</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">Louisiana Lafayette</p></td>
		<td><p class="tbcen">Wake Forest</p></td>
		<td><p class="tbcen">Missouri</p></td>
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;">Record:</p></td>
		<td style="background-color: #d6ecd2;"><p class="tbcen" style="white-space: nowrap;">(9-4)</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen" style="white-space: nowrap;">(7-6)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(8-4)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
		<td style="background-color: #d6ecd2;"><p class="tbcen" style="white-space: nowrap;">(8-4)</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen" style="white-space: nowrap;">(7-4)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(8-4)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(8-5)</p></td>
		<td style="background-color: #d6ecd2;"><p class="tbcen" style="white-space: nowrap;">(10-2)</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen" style="white-space: nowrap;">(8-5)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(9-3)</p></td>
		<td style="background-color: #d6ecd2;"><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
	</tr>
		
		<tr>
			
			<td colspan="2"><p class="tbcen">Winner:</p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" checked="checked" name="win[8]" value="1"></p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" name="win[8]" value="2"></p></td>
			<td><p class="tbcen"> <input type="radio" checked="checked" name="win[9]" value="1"></p></td>
			<td><p class="tbcen"> <input type="radio" name="win[9]" value="2"></p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" name="win[10]" value="1"></p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" checked="checked" name="win[10]" value="2"></p></td>
			<td><p class="tbcen"> <input type="radio" name="win[11]" value="1"></p></td>
			<td><p class="tbcen"> <input type="radio" checked="checked" name="win[11]" value="2"></p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" checked="checked" name="win[12]" value="1"></p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" name="win[12]" value="2"></p></td>
			<td><p class="tbcen"> <input type="radio" name="win[13]" value="1"></p></td>
			<td><p class="tbcen"> <input type="radio" checked="checked" name="win[13]" value="2"></p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" checked="checked" name="win[14]" value="1"></p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" name="win[14]" value="2"></p></td>
			<td><p class="tbcen"> <input type="radio" checked="checked" name="win[15]" value="1"></p></td>
			<td><p class="tbcen"> <input type="radio" name="win[15]" value="2"></p></td>
		</tr>
		<tr>
			<td colspan="2">Confidence:</td>
			<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"> <input type="text" name="conf[8]" value="39" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
			<td colspan="2"><p class="tbcen"> <input type="text" name="conf[9]" value="42" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
			<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"> <input type="text" name="conf[10]" value="17" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
			<td colspan="2"><p class="tbcen"> <input type="text" name="conf[11]" value="13" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
			<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"> <input type="text" name="conf[12]" value="22" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
			<td colspan="2"><p class="tbcen"> <input type="text" name="conf[13]" value="2" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
			<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"> <input type="text" name="conf[14]" value="7" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
			<td colspan="2"><p class="tbcen"> <input type="text" name="conf[15]" value="15" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
		</tr>
	<tr>
		<td colspan="18"></td>	
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;"><b>Bowl:</b></p></td>	
	
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"><b>Hawaii Bowl</b></p></td>
		<td colspan="2"><p class="tbcen"><b>Quick Lane Bowl</b></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"><b>Camellia Bowl</b></p></td>
		<td colspan="2"><p class="tbcen"><b>First Responder Bowl</b></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"><b>Birmingham Bowl</b></p></td>
		<td colspan="2"><p class="tbcen"><b>Guaranteed Rate Bowl</b></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"><b>Military Bowl</b></p></td>
		<td colspan="2"><p class="tbcen"><b>Liberty Bowl</b></p></td>
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;">Location:</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"></p></td>
		<td colspan="2"><p class="tbcen"></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"></p></td>
		<td colspan="2"><p class="tbcen"></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"></p></td>
		<td colspan="2"><p class="tbcen"></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"></p></td>
		<td colspan="2"><p class="tbcen"></p></td>
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;">Date:<br>Time:</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">Dec. 24<br><span style="white-space: nowrap;">08:00 pm</span></p></td>
		<td colspan="2"><p class="tbcen">Dec. 26<br><span style="white-space: nowrap;">02:30 pm</span></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">Dec. 27<br><span style="white-space: nowrap;">12:00 pm</span></p></td>
		<td colspan="2"><p class="tbcen">Dec. 27<br><span style="white-space: nowrap;">03:15 pm</span></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">Dec. 27<br><span style="white-space: nowrap;">06:45 pm</span></p></td>
		<td colspan="2"><p class="tbcen">Dec. 27<br><span style="white-space: nowrap;">10:15 pm</span></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">Dec. 28<br><span style="white-space: nowrap;">02:00 pm</span></p></td>
		<td colspan="2"><p class="tbcen">Dec. 28<br><span style="white-space: nowrap;">05:30 pm</span></p></td>
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;">Channel:</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">ESPN</p></td>
		<td colspan="2"><p class="tbcen">ESPN</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">ESPN</p></td>
		<td colspan="2"><p class="tbcen">ESPN</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">ESPN</p></td>
		<td colspan="2"><p class="tbcen">ESPN</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">ESPN</p></td>
		<td colspan="2"><p class="tbcen">ESPN</p></td>
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;">Teams:</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">Middle Tennessee State</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">San Diego State</p></td>
		<td><p class="tbcen">Bowling Green</p></td>
		<td><p class="tbcen">New Mexico State</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">Buffalo</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">Georgia Southern</p></td>
		<td><p class="tbcen">Memphis</p></td>
		<td><p class="tbcen">Utah State</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">Coastal Carolina</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">East Carolina</p></td>
		<td><p class="tbcen">Oklahoma State</p></td>
		<td><p class="tbcen">Wisconsin</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">Duke</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">UCF</p></td>
		<td><p class="tbcen">Arkansas</p></td>
		<td><p class="tbcen">Kansas</p></td>
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;">Record:</p></td>
		<td style="background-color: #d6ecd2;"><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
		<td style="background-color: #d6ecd2;"><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
		<td style="background-color: #d6ecd2;"><p class="tbcen" style="white-space: nowrap;">(9-3)</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
		<td style="background-color: #d6ecd2;"><p class="tbcen" style="white-space: nowrap;">(8-4)</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen" style="white-space: nowrap;">(9-4)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
	</tr>
		
		<tr>
			
			<td colspan="2"><p class="tbcen">Winner:</p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" name="win[16]" value="1"></p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" checked="checked" name="win[16]" value="2"></p></td>
			<td><p class="tbcen"> <input type="radio" checked="checked" name="win[17]" value="1"></p></td>
			<td><p class="tbcen"> <input type="radio" name="win[17]" value="2"></p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" name="win[18]" value="1"></p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" checked="checked" name="win[18]" value="2"></p></td>
			<td><p class="tbcen"> <input type="radio" checked="checked" name="win[19]" value="1"></p></td>
			<td><p class="tbcen"> <input type="radio" name="win[19]" value="2"></p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" name="win[20]" value="1"></p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" checked="checked" name="win[20]" value="2"></p></td>
			<td><p class="tbcen"> <input type="radio" name="win[21]" value="1"></p></td>
			<td><p class="tbcen"> <input type="radio" checked="checked" name="win[21]" value="2"></p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" name="win[22]" value="1"></p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" checked="checked" name="win[22]" value="2"></p></td>
			<td><p class="tbcen"> <input type="radio" checked="checked" name="win[23]" value="1"></p></td>
			<td><p class="tbcen"> <input type="radio" name="win[23]" value="2"></p></td>
		</tr>
		<tr>
			<td colspan="2">Confidence:</td>
			<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"> <input type="text" name="conf[16]" value="33" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
			<td colspan="2"><p class="tbcen"> <input type="text" name="conf[17]" value="4" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
			<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"> <input type="text" name="conf[18]" value="32" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
			<td colspan="2"><p class="tbcen"> <input type="text" name="conf[19]" value="41" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
			<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"> <input type="text" name="conf[20]" value="40" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
			<td colspan="2"><p class="tbcen"> <input type="text" name="conf[21]" value="23" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
			<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"> <input type="text" name="conf[22]" value="19" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
			<td colspan="2"><p class="tbcen"> <input type="text" name="conf[23]" value="27" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
		</tr>
	<tr>
		<td colspan="18"></td>	
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;"><b>Bowl:</b></p></td>	
	
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"><b>Holiday Bowl</b></p></td>
		<td colspan="2"><p class="tbcen"><b>Texas Bowl</b></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"><b>Pinstripe Bowl</b></p></td>
		<td colspan="2"><p class="tbcen"><b>Cheez-It Bowl</b></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"><b>Alamo Bowl</b></p></td>
		<td colspan="2"><p class="tbcen"><b>Dukes Mayo Bowl</b></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"><b>Sun Bowl</b></p></td>
		<td colspan="2"><p class="tbcen"><b>Gator Bowl</b></p></td>
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;">Location:</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"></p></td>
		<td colspan="2"><p class="tbcen"></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"></p></td>
		<td colspan="2"><p class="tbcen"></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"></p></td>
		<td colspan="2"><p class="tbcen"></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"></p></td>
		<td colspan="2"><p class="tbcen"></p></td>
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;">Date:<br>Time:</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">Dec. 28<br><span style="white-space: nowrap;">08:00 pm</span></p></td>
		<td colspan="2"><p class="tbcen">Dec. 28<br><span style="white-space: nowrap;">09:00 pm</span></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">Dec. 29<br><span style="white-space: nowrap;">02:00 pm</span></p></td>
		<td colspan="2"><p class="tbcen">Dec. 29<br><span style="white-space: nowrap;">05:30 pm</span></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">Dec. 29<br><span style="white-space: nowrap;">09:00 pm</span></p></td>
		<td colspan="2"><p class="tbcen">Dec. 30<br><span style="white-space: nowrap;">12:00 pm</span></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">Dec. 30<br><span style="white-space: nowrap;">02:00 pm</span></p></td>
		<td colspan="2"><p class="tbcen">Dec. 30<br><span style="white-space: nowrap;">03:30 pm</span></p></td>
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;">Channel:</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">Fox</p></td>
		<td colspan="2"><p class="tbcen">ESPN</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">ESPN</p></td>
		<td colspan="2"><p class="tbcen">ESPN</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">ESPN</p></td>
		<td colspan="2"><p class="tbcen">ESPN</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">CBS</p></td>
		<td colspan="2"><p class="tbcen">ESPN</p></td>
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;">Teams:</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">Oregon</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">North Carolina</p></td>
		<td><p class="tbcen">Texas Tech</p></td>
		<td><p class="tbcen">Ole Miss</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">Minnesota</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">Syracuse</p></td>
		<td><p class="tbcen">Florida State</p></td>
		<td><p class="tbcen">Oklahoma</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">Washington</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">Texas</p></td>
		<td><p class="tbcen">NC State</p></td>
		<td><p class="tbcen">Maryland</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">UCLA</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">Pitt</p></td>
		<td><p class="tbcen">South Carolina</p></td>
		<td><p class="tbcen">Notre Dame</p></td>
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;">Record:</p></td>
		<td style="background-color: #d6ecd2;"><p class="tbcen" style="white-space: nowrap;">(9-3)</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen" style="white-space: nowrap;">(9-4)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(8-4)</p></td>
		<td style="background-color: #d6ecd2;"><p class="tbcen" style="white-space: nowrap;">(8-4)</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(9-3)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(6-6)</p></td>
		<td style="background-color: #d6ecd2;"><p class="tbcen" style="white-space: nowrap;">(10-2)</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen" style="white-space: nowrap;">(8-4)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(8-4)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
		<td style="background-color: #d6ecd2;"><p class="tbcen" style="white-space: nowrap;">(9-3)</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen" style="white-space: nowrap;">(8-4)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(8-4)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(8-4)</p></td>
	</tr>
		
		<tr>
			
			<td colspan="2"><p class="tbcen">Winner:</p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" checked="checked" name="win[24]" value="1"></p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" name="win[24]" value="2"></p></td>
			<td><p class="tbcen"> <input type="radio" name="win[25]" value="1"></p></td>
			<td><p class="tbcen"> <input type="radio" checked="checked" name="win[25]" value="2"></p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" checked="checked" name="win[26]" value="1"></p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" name="win[26]" value="2"></p></td>
			<td><p class="tbcen"> <input type="radio" checked="checked" name="win[27]" value="1"></p></td>
			<td><p class="tbcen"> <input type="radio" name="win[27]" value="2"></p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" name="win[28]" value="1"></p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" checked="checked" name="win[28]" value="2"></p></td>
			<td><p class="tbcen"> <input type="radio" checked="checked" name="win[29]" value="1"></p></td>
			<td><p class="tbcen"> <input type="radio" name="win[29]" value="2"></p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" checked="checked" name="win[30]" value="1"></p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" name="win[30]" value="2"></p></td>
			<td><p class="tbcen"> <input type="radio" checked="checked" name="win[31]" value="1"></p></td>
			<td><p class="tbcen"> <input type="radio" name="win[31]" value="2"></p></td>
		</tr>
		<tr>
			<td colspan="2">Confidence:</td>
			<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"> <input type="text" name="conf[24]" value="38" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
			<td colspan="2"><p class="tbcen"> <input type="text" name="conf[25]" value="25" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
			<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"> <input type="text" name="conf[26]" value="31" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
			<td colspan="2"><p class="tbcen"> <input type="text" name="conf[27]" value="29" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
			<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"> <input type="text" name="conf[28]" value="28" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
			<td colspan="2"><p class="tbcen"> <input type="text" name="conf[29]" value="11" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
			<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"> <input type="text" name="conf[30]" value="30" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
			<td colspan="2"><p class="tbcen"> <input type="text" name="conf[31]" value="6" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
		</tr>
	<tr>
		<td colspan="18"></td>	
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;"><b>Bowl:</b></p></td>	
	
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"><b>Arizona Bowl</b></p></td>
		<td colspan="2"><p class="tbcen"><b>Orange Bowl</b></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"><b>Music City Bowl</b></p></td>
		<td colspan="2"><p class="tbcen"><b>Sugar Bowl</b></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"><b>Peach Bowl</b></p></td>
		<td colspan="2"><p class="tbcen"><b>Fiesta Bowl</b></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"><b>ReliaQuest Bowl</b></p></td>
		<td colspan="2"><p class="tbcen"><b>Cotton Bowl</b></p></td>
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;">Location:</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"></p></td>
		<td colspan="2"><p class="tbcen"></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"></p></td>
		<td colspan="2"><p class="tbcen"></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"></p></td>
		<td colspan="2"><p class="tbcen"></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"></p></td>
		<td colspan="2"><p class="tbcen"></p></td>
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;">Date:<br>Time:</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">Dec. 30<br><span style="white-space: nowrap;">04:30 pm</span></p></td>
		<td colspan="2"><p class="tbcen">Dec. 30<br><span style="white-space: nowrap;">08:00 pm</span></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">Dec. 31<br><span style="white-space: nowrap;">12:00 pm</span></p></td>
		<td colspan="2"><p class="tbcen">Dec. 31<br><span style="white-space: nowrap;">12:15 pm</span></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">Dec. 31<br><span style="white-space: nowrap;">02:00 pm</span></p></td>
		<td colspan="2"><p class="tbcen">Dec. 31<br><span style="white-space: nowrap;">04:00 pm</span></p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">Jan. 02<br><span style="white-space: nowrap;">12:00 pm</span></p></td>
		<td colspan="2"><p class="tbcen">Jan. 02<br><span style="white-space: nowrap;">01:00 pm</span></p></td>
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;">Channel:</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">Barst</p></td>
		<td colspan="2"><p class="tbcen">ESPN</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">ABC</p></td>
		<td colspan="2"><p class="tbcen">ESPN</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">ESPN</p></td>
		<td colspan="2"><p class="tbcen">ESPN</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">ESPN2</p></td>
		<td colspan="2"><p class="tbcen">ESPN</p></td>
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;">Teams:</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">Ohio</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">Wyoming</p></td>
		<td><p class="tbcen">Tennessee</p></td>
		<td><p class="tbcen">Clemson</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">Iowa</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">Kentucky</p></td>
		<td><p class="tbcen">Alabama</p></td>
		<td><p class="tbcen">Kansas State</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">Georgia</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">Ohio State</p></td>
		<td><p class="tbcen">Michigan</p></td>
		<td><p class="tbcen">TCU</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">Mississippi State</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">Illinois</p></td>
		<td><p class="tbcen">USC</p></td>
		<td><p class="tbcen">Tulane</p></td>
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;">Record:</p></td>
		<td style="background-color: #d6ecd2;"><p class="tbcen" style="white-space: nowrap;">(9-4)</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(10-2)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(11-2)</p></td>
		<td style="background-color: #d6ecd2;"><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen" style="white-space: nowrap;">(7-5)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(10-2)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(10-3)</p></td>
		<td style="background-color: #d6ecd2;"><p class="tbcen" style="white-space: nowrap;">(13-0)</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen" style="white-space: nowrap;">(11-1)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(13-0)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(12-1)</p></td>
		<td style="background-color: #d6ecd2;"><p class="tbcen" style="white-space: nowrap;">(8-4)</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen" style="white-space: nowrap;">(8-4)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(11-2)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(11-2)</p></td>
	</tr>
		
		<tr>
			
			<td colspan="2"><p class="tbcen">Winner:</p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" name="win[32]" value="1"></p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" checked="checked" name="win[32]" value="2"></p></td>
			<td><p class="tbcen"> <input type="radio" name="win[33]" value="1"></p></td>
			<td><p class="tbcen"> <input type="radio" checked="checked" name="win[33]" value="2"></p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" name="win[34]" value="1"></p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" checked="checked" name="win[34]" value="2"></p></td>
			<td><p class="tbcen"> <input type="radio" checked="checked" name="win[35]" value="1"></p></td>
			<td><p class="tbcen"> <input type="radio" name="win[35]" value="2"></p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" checked="checked" name="win[36]" value="1"></p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" name="win[36]" value="2"></p></td>
			<td><p class="tbcen"> <input type="radio" checked="checked" name="win[37]" value="1"></p></td>
			<td><p class="tbcen"> <input type="radio" name="win[37]" value="2"></p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" checked="checked" name="win[38]" value="1"></p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" name="win[38]" value="2"></p></td>
			<td><p class="tbcen"> <input type="radio" checked="checked" name="win[39]" value="1"></p></td>
			<td><p class="tbcen"> <input type="radio" name="win[39]" value="2"></p></td>
		</tr>
		<tr>
			<td colspan="2">Confidence:</td>
			<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"> <input type="text" name="conf[32]" value="14" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
			<td colspan="2"><p class="tbcen"> <input type="text" name="conf[33]" value="24" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
			<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"> <input type="text" name="conf[34]" value="20" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
			<td colspan="2"><p class="tbcen"> <input type="text" name="conf[35]" value="5" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
			<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"> <input type="text" name="conf[36]" value="34" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
			<td colspan="2"><p class="tbcen"> <input type="text" name="conf[37]" value="36" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
			<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"> <input type="text" name="conf[38]" value="3" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
			<td colspan="2"><p class="tbcen"> <input type="text" name="conf[39]" value="16" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
		</tr>
	<tr>
		<td colspan="18"></td>	
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;"><b>Bowl:</b></p></td>	
	
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"><b>Citrus Bowl</b></p></td>
		<td colspan="2"><p class="tbcen"><b>Rose Bowl</b></p></td>
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;">Location:</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"></p></td>
		<td colspan="2"><p class="tbcen"></p></td>
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;">Date:<br>Time:</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">Jan. 02<br><span style="white-space: nowrap;">01:00 pm</span></p></td>
		<td colspan="2"><p class="tbcen">Jan. 02<br><span style="white-space: nowrap;">05:00 pm</span></p></td>
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;">Channel:</p></td>
		<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen">ABC</p></td>
		<td colspan="2"><p class="tbcen">ESPN</p></td>
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;">Teams:</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">LSU</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen">Purdue</p></td>
		<td><p class="tbcen">Utah</p></td>
		<td><p class="tbcen">Penn State</p></td>
	</tr>
	<tr>
		<td colspan="2"><p class="tbcen" style="text-align: right;">Record:</p></td>
		<td style="background-color: #d6ecd2;"><p class="tbcen" style="white-space: nowrap;">(9-4)</p></td>
		<td style="background-color: #d6ecd2"><p class="tbcen" style="white-space: nowrap;">(8-5)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(10-3)</p></td>
		<td><p class="tbcen" style="white-space: nowrap;">(10-2)</p></td>
	</tr>
		
		<tr>
			
			<td colspan="2"><p class="tbcen">Winner:</p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" name="win[40]" value="1"></p></td>
			<td style="background-color: #d6ecd2"><p class="tbcen"> <input type="radio" checked="checked" name="win[40]" value="2"></p></td>
			<td><p class="tbcen"> <input type="radio" name="win[41]" value="1"></p></td>
			<td><p class="tbcen"> <input type="radio" checked="checked" name="win[41]" value="2"></p></td>
		</tr>
		<tr>
			<td colspan="2">Confidence:</td>
			<td colspan="2" style="background-color: #d6ecd2"><p class="tbcen"> <input type="text" name="conf[40]" value="1" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
			<td colspan="2"><p class="tbcen"> <input type="text" name="conf[41]" value="8" size="2" maxsize="2" data-ddg-inputtype="unknown"></p></td>
		</tr>
	<tr>
		<td colspan="18"></td>	
	</tr>
		<tr>
			<td colspan="18">	<p style="text-align: center;"><b>Tie Breaker: </b><input type="text" name="tie" value="49" size="3" maxlength="3" data-ddg-inputtype="unknown"></p><p>
			</p><p style="text-align: center;"><input type="submit" name="submit" value="Submit"> </p>
			</td>
		</tr>
		
		</tbody></table>
	</form>
	<div style="padding:20px; width: 600px; background-color: #ffffff; border: solid; margin-top:10px;">
				
		<p style="color: red; "><b></b></p>		
		<p><b>Instructions:</b></p>
		<p>Pick the winner of each bowl game by clicking the corresponding radio button .  Assign each pick a "le</p></div></div></body></html>